apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: meubanco
            - name: POSTGRES_USER
              value: meuuser
            - name: POSTGRES_PASSWORD
              value: minhasenha
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - pg_isready -U meuuser
            initialDelaySeconds: 10
            periodSeconds: 5

